

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    /* font-family: "Mulish", sans-serif; */
    font-family: "Roboto", sans-serif;;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar-expand-xl{
    /* background: #dee2e6; */
    text-transform: capitalize;
    background: #6E2F75;
    margin: 0 auto;
    
}

.navbar-expand-xl .nav-item{
    padding-right: 25px !important;
}

.navbar-expand-xl .nav-item .nav-link{
    color: rgb(239, 239, 239);
    font-weight: bold;
    font-size: 14px;
}

.navbar-expand-xl .nav-item .btn{
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}

.navbar-expand-xl .nav-item .nav-link .active{
    color:#b06db9 !important;
}

.navbar-expand-xl .nav-item .btn:hover{
    color: whitesmoke !important;
}

.navbar-expand-xl .nav-item .nav-link:hover{
    color:#b06db9;
}

#nav .active  {
    color: #b06db9 !important;
}

#nav .contact-btn{
    color: #b06db9 !important;
    background: white;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 40px !important;
}

#nav .contact-btn:hover{
    color: #b06db9 !important;
    background: #dee2e6;
}

.btn-primary{
    background: #6E2F75;
    color: whitesmoke;
    border-color: #803789;
    font-size: .9rem;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 20px;
}

.btn-primary:hover{
    background: #a743b3;
    color: white;
    border-color: #803789;
}



.images{
    display: relative;
}

img{
    object-fit: cover;
}

.img1{
    display: block;
    position: relative;
    top: 150px;
    width:90%;
    height: 90%;
    border-radius: 50%;
}
.img2{
    display: block;
    z-index: -10;
    position: absolute;
    right: 5rem;
    top: -5px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#hero-page{
    min-height: 100vh;
}

.hero-writeup{
    color: #000;
    font-weight: 800 !important;
    margin-top: 7rem;
    
}

.writeup{
    background: #6E2F75;
    color: white;
    height: 450px;
    width:450px;
    border-radius: 100%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    shape-outside: circle(50%);
    text-align: center;
}

#props, #testimony, #contact, #category{
    padding: 6rem 0;
}

#about{
     /* transform: translateY(-140px); */
     position: relative; 
     z-index: 4;
     background: #fff;
     /* margin-bottom: -140px; */
     padding: 6rem 0;
}

.abt-img{
    position: relative;
    /* height: 100%;
    width: 100%; */
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}


.about-us{
    padding: 4rem;
    font-size: 1rem;
    background: #6E2F75;
}

.about-us p{
    position: relative;
    color: rgb(241, 241, 241);
    z-index: 15;
}

.cate-props{
    height: 200px;
    width: 100%;
}

#props .props{
    text-align: center;
}

#props .props img{
    height: 250px;
    width: 100%;
    box-shadow: 0 0 12px rgba(08, 08, 08, 0.4);
}

#props .props-text{
    padding-left: 10px;
    font-size:1.1rem;
}

#props .props-text p{
    padding-left: 10px;
    color: rgb(72, 72, 72); 
}

#props .props-text i{
    color: #6E2F75;
}

#testimony img{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

#testimony .client-details{
    padding-top: 15px;
}

#footer1{
    padding: 2rem;
    margin-top: 1.7rem;
    margin-bottom: 0;
    background: rgb(54, 54, 79);
    color: white;
}

#footer1 i{
    color: #d20fe7;
}

#footer1 ul li{
    list-style-type: none;
    padding-bottom: 5px;
}

#footer1 ul li a{
    text-decoration: none;
    color: aliceblue;
}

#footer1 ul li a:hover i{
    color: #ec1ab7;
}

#footer1 .social_icons{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white !important;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    border-radius: 50%;
}
#footer1 .icon_fbk{
    background: #3517db;
}

#footer1 .icon_telegram{
    background: #ec1ab7;
}

#footer1 .social_icons .bi{
    font-size: 24px;
    color: white;
}


#footer1 .social_icons .bi:hover{
    color: #dee2e6 !important;
}


#footer2{
    padding: 2rem;
    background: black;
    color: white;
}



@media only screen and (max-width: 768px) {
    .img2{
        display: none;
        position: relative;
        top: 0;
        width:90%;
        height: 90%;
        border-radius: 50%;
    }
    .img1{
        display: block;
        z-index: -10;
        position: absolute;
        right: 0;
        top: 50px;
        height: 400px;
        width: 100%;
        border-radius: 0;
    }

    .hero-writeup{
        color: #fff;
        text-shadow: 5px 0 7px rgb(54, 54, 79);
        font-weight: 800 !important;
        margin-top: 7rem;   
        text-align: center; 
    }

    .writeup{
        background: #6E2F75;
        color: white;
        height: auto;
        width:100%;
        border-radius: 0;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #props, #testimony, #contact{
        padding: 4.5rem 0;
        margin:0 0;
    }

    #hero-page{
        margin:0 0;
        padding: 4.5rem 0;
    }

    /* css screen css */
    #about{
         position: relative; 
         background: #fff;
    }

    .about-us{
        padding: 3rem;
        font-size: 1rem;
        background: #6E2F75;
        border-radius: 0;
        margin: 0 !important;
        z-index: 1;
        /* position: relative; */
    }
}